body {
    margin: 0 auto;
    font-family: "Smythe", sans-serif;
    background-color: #F5F5F5;
    width : 600px;
}

html{
    background-color: grey;
}

.image-container {
    position: relative;
    color: #F5F5F5;
}

.image-container img {
    width: 100%;
    height: auto;
}

.container {
    margin: 45px 46px;
}

img{
    margin-bottom: 52px;
    width: 70px;
    height: 89px;
    margin-right: 31px;
}

.img-text {
    position: absolute;
    top: 36px;
    left: 46px;
}

h3 {
    margin: 0;
    font-size: 39px;
}

.small-text {
    font-size: 23px;
    margin-top: 8px;
}

.item-list{
    display:flex;
    border-bottom: 1px solid #D2D2D2;
    align-items: center;
    position: relative;
}

.item-text {
    margin-top: 7px;
    margin-bottom: 52px;
}

.item-description {
    color: #C8B8B8;
    margin: 8px 0;
}

p {
    margin: 0;
}

h2{
    margin: 0;
}

.spacer{
    position: absolute;
    right: 0px;
    top: 8px;
}

.add-button {
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    background-color: #F5F5F5;
    color: #3C3C3C;
    width: 50px;
    height: 50px;
    font-size: 22px;
    font-weight: thnner;
}

.add-button:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}

.checkout-section {
    /* visibility: none; none or hidden  */
    margin: 45px 46px 53px 46px;
}

.checkout-title{
    text-align: center;
    margin-bottom: 62px;
}

.remove-button {
    border: none;
    background-color:#F5F5F5;
    font-family: verdana, sans-serif;
    font-size: 12px;
    color:#BBBBBB;

}

.remove-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.order-items {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
}

.total-price{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 14px;
    border-top: 2px solid #393333;

}

.qtty{
    font-size: 20px;
}

.order-items, .total-price {
    font-size: 28px;
}

.purchase-button {
    background-color: #16DB99;
    width: 508px;
    height: 60px;
    margin: 53px 0;
    font-family: verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color : white;
    border: none;
}

.purchase-button:hover {
    cursor: pointer;
    background-color: #12b97c;
}

.payment-container {
    /* visibility: none; none or hidden  */
    width: 545px;
    height: 405px;
    background-color: #F5F5F5;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-bottom: 46px;
}

.payment-title{
    margin: 23px auto;
}

input{
    margin: 0 auto;
    padding: 16px 8px;
    width: 475px;
    box-sizing: border-box;
}

/* hide caret 
input[type="number"] {
  caret-color: transparent;
  outline: none; /* optional — removes focus ring (accessibility caution) 
}
*/

/* remove spinner in WebKit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.pay-button{
    background-color: #16DB99;
    width: 475px;
    height: 60px;
    margin: 0 auto;
    font-family: verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color : white;
    border: none;   
 }

.pay-button:hover {
    cursor: pointer;
    background-color: #12b97c;
}

.order-complete-container{
    /* visibility: hidden; none or hidden  */
    margin: 45px 46px 0 46px;
    text-align: center;
    padding: 51px 66px 52px 59px;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 18px;
}

.hidden{
    display: none;
}